<style>
  @keyframes s1 {
    from {width : 60vw; height : 19vh;}
    to {width : 62vw; height : 20vh;}
  }
  @keyframes s2 {
    from {width : 62vw; height : 20vh;}
    to {width : 60vw; height : 19vh;}
    
  }

  .s1 {
    
    animation-name: s1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .s2{
    
    animation-name: s2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

</style>

<ion-content style='color : white; text-align : justify;'>
  <div style='position: sticky; z-index : 1; background : url(assets/img/cover.png); background-size : cover; position : absolute; width : 100%; height : 100%;'></div>
  <div style='position: sticky; z-index : 2; background-size : cover; position : absolute; width : 100vw; height : 100vh;'></div>
        <ion-content  #content [scrollEvents]='true' style='color : white; text-align : justify; z-index : 3'> 
          <ion-fab>
              <ion-row>
                <div style='height : 10vh;'></div>
              </ion-row>
              <ion-row>
                <div style='height : 10vh;'></div>
              </ion-row>
              <ion-row>
                <div style='height : 10vh;'></div>
              </ion-row>
              <ion-row>
                <div style='height : 10vh;'></div>
              </ion-row>
              <ion-row>
                <ion-col class="ion-margin-top"> 
                  <ion-button class='s1' [routerLink]="['/home']" color='warning' expand='block' style='height : 20vh; margin : auto; width : 60vw; visibility : hidden;'>
                    <ion-label>
                      <div style='margin : auto; background : url(assets/img/pengantar.png); width : 20vw; height : 20vw; background-size : cover;'></div>
                      <div style='margin-top : 2vw;' >KATA PENGANTAR</div>
                    </ion-label>
                  </ion-button>
                </ion-col>
               
                
                
             
                <ion-col class="ion-margin-top"> 
                  <ion-button  [routerLink]="['/cover']" class='s1' id='exitButton' color='warning' expand='block' style='height : 20vh; margin : auto; width : 60vw;'>
                    <ion-label>
                      <div style='margin : auto; background : url(assets/img/play.webp); width : 20vw; height : 20vw; background-size : cover;'></div>
                      <div style='margin-top : 2vw;' >MULAI</div>
                    </ion-label>
                  </ion-button>
                </ion-col>
                
                
              </ion-row>
              <ion-row>
                <div style='height : 10vh;'></div>
              </ion-row>
            
            
          </ion-fab>
        
        </ion-content>
         

  
  
  
</ion-content>
