<style>
  p{
    color : white;
    margin-right : 40px;
  }
  ion-label{
    color : white;
    padding-right : 10px;
  }
  h5{
    color : white;
    padding-right : 10px;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  li{
    margin-right : 20px;
    color : white;
  }


  

</style>
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:white;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:3px 20px;word-break:normal;}
  .tg th{border-color:white;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:3px 20px;word-break:normal;}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  </style>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>

        </ion-col>
        <ion-col>
          <ion-button  [routerLink]="['/cover']" color='warning' expand='block' >
            <ion-icon name='home'></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
</ion-footer>

<ion-content style='color : white; text-align : justify;'>
  <div style='position: sticky; z-index : 1; background : url(assets/img/bg2.png); background-size : cover; position : absolute; width : 100vw; height : 100vh;'></div>
  <div style='position: sticky; z-index : 2; background : rgba(0,0,0,0.5); background-size : cover; position : absolute; width : 100vw; height : 100vh;'></div>
        <ion-content  #content [scrollEvents]='true' style='color : white; text-align : justify;'> 
          <ion-fab>
           
            
                  <ion-row>
                    <ion-col class="ion-margin-top" size-md="6" offset-md="3" style='text-align : center;'> 
                        <ion-label style="font-family : Philosopher; font-weight: bold; font-size: 23px; text-align : center; display : inline; color : yellow" >SISTEM KOORDINAT KARTESIUS</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-md="6" offset-md="3">
                    <p>
                      Sistem koordinat adalah suatu metode untuk menentukan letak suatu titik dalam grafik.
                    </p>
                    <p>
                      Sistem koordinat Kartesius merupakan sistem koordinat yang digunakan untuk menentukan tiap titik dalam bidang dengan menggunakan dua bilangan yang biasa disebut koordinat x (absis) dan koordinat y (ordinat) dari titik tersebut.
                    </p>
                    <p>
                      Perhatikan gambar bidang koordinat Kartesius.
                    </p>

                    <div style='width : 100vw; height: 80vw; background-size : cover; '>
                      <img src="assets/img/matpostik1.png">
                    </div>
                    <p style='text-align : center'>
                      Gb 1. Bidang Koordinat Katesius
                    </p>
                    <p>
                      •	Bidang koordinat Kartesius terbentuk oleh sebuah sumbu tegak (vertikal) dan sumbu mendatar (horisontal) yang saling berpotongan di titik nol
      
                    </p>
                    <p>
                      •	Sumbu horisontal disebut sumbu x
                    </p>
                    <p>
                      •	Sumbu vertikal disebut sumbu y
                    </p>
                    <p>
                      •	Titik O (0,0) adalah pusat koordinat
                    </p>
                    <p>
                      •	Koordinat suatu titik adalah pasangan berurut (x,y). Penulisan ini tidak boleh dibalik. 
                    </p>

                    <p style='text-align : center'>
                      Simak penjelasan video berikut.
                    </p>
                    <iframe width="320" height="240" src="https://www.youtube.com/embed/Flr-6YceOgs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-margin-top" size-md="6" offset-md="3"> 
                  <ion-label style="font-family : Philosopher; font-weight: bold; font-size: 23px; text-align : center; color : yellow;" >A.	Posisi titik terhadap sb x, sb y</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-margin-top" size-md="6" offset-md="3"> 
                <p>
                  •	Titik O (0,0) adalah pusat koordinat
                </p>
                <div style='width : 100vw; height: 80vw; background-size : cover; '>
                  <img src="assets/img/anim1.gif">
              </div>
                <p>
                  Perhatikan gambar di atas.
                </p>
                <p>
                  1.	Apa yang dicari kelompok pramuka tersebut?
                </p>
                <p>
                  2.	Apa yang digunakan sebagai petunjuk?
                </p>
                <p>
                  3.	Pohon apa yang digunakan sebagai titik acuan?
                </p>
                <p>
                  Petunjuk letak tunas kelapa dan semaphore dapat digambarkan dengan gambar berikut.
                </p>
                <div style='width : 100vw; height: 80vw; background-size : cover; '>
                    <img src="assets/img/matpostik3.png">
                </div>
                <p style='text-align : center;'>
                  Gb 3. Denah Letak Tunas Kelapa dan Semaphore
                </p>
                <p>
                  Titik-titik pada bidang Kartesius memiliki jarak terhadap sumbu x dan sumbu y. Letak suatu titik diawali oleh koordinat yaitu pasangan berurut (x,y).
                </p>
                <p>
                  X merupakan jarak titik dengan sumbu Y . x disebut <i>absis</i>
                </p>
                <p>
                  Y merupakan jarak titik dengan sumbu x . y disebut <i>ordinat</i>
                </p>
                <p>
                  Berdasarkan gambar di atas, misalkan garis sumbu mendatar adalah sumbu x dan garis sumbu tegak adalah sumbu y.
                </p>
                <br>
                <p>
                  a.	Letak tunas kelapa
                </p>
                <p>
                  Jarak tunas kelapa dengan sumbu y = 4
                </p>
                <p>
                  Jarak tunas kelapa dengan sumbu x = 5
                </p>
                <br>
                <p>
                  b.	Letak semaphore
                </p>
                <p>
                  Jarak tunas kelapa dengan sumbu y = 4
                </p>
                <p>
                  Jarak tunas kelapa dengan sumbu x = 5
                </p>
                <br>
                <p>
                  Kedua benda tersebut memiliki jarak yang sama terhadap sumbu x dan sumbu y, tetapi berdasarkan gambar denah di atas, letak tunas kelapa dan semaphore berbeda, mengapa?
                </p>
                <p>
                  Coba perhatikan gambar berikut!
                </p>
                
                <p>
                  Sumbu-sumbu koordinat membagi bidang Kartesius menjadi 4 bagian simestris yang dinamakan kuadran, sehingga terdapat 4 kuadran
                </p>
                <p>
                  Kuadran I x &gt; 0, y &gt; 0
                </p>
                <p>
                  Kuadran II x &lt; 0, y &gt; 0
                </p>
                <p>
                  Kuadran III x &lt; 0, y &lt; 0
                </p>
                <p>
                  Kuadran IV x &gt; 0, y &lt; 0
                </p>
                <div style='width : 100vw; height: 80vw; background-size : cover; '>
                  <img src="assets/img/matpostik4.png">
                </div>
                <p>
                  Gb 4. Kuadran Bidang Kartesius
                </p>
                <p>
                  Simak penjelasan video berikut.
                </p>
                <iframe width="320" height="240" src="https://www.youtube.com/embed/fP4jDW6c8sE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>
                  Dengan demikian tunas kelapa berada di kuadran I dan semaphore berada di kuadran III. Jadi, letak tunas kelapa pada koordinat Kartesius adalah (4,5) sedangkan letak semaphore pada koordinat Kartesius adalah (-4,-5).
                </p>
                <p>
                  <b>Contoh soal :</b>
                </p>
                <p>
                  Tentukan jarak titik-titik berikut terhadap Sumbu X dan Sumbu Y!
                </p>
                <div style='width : 100vw; height: 80vw; background-size : cover; '>
                  <img src="assets/img/matpostik41.png">
                </div>
                <p>
                  Pembahasan : 
                </p>
                <table class="tg">
                  <thead>
                    <tr>
                      <th style='color : white; border-color:white;' class="tg-0pky" rowspan="2"><b>Titik</b></th>
                      <th style='color : white; border-color:white;' class="tg-0pky" colspan="2"><b>Jarak Titik Terhadap</b></th>
                      <th style='color : white; border-color:white;' class="tg-0pky" rowspan="2"><b>Kuadran</b></th>
                    </tr>
                    <tr>
                      <td style='color : white; border-color:white;' class="tg-0pky"><b>Sumbu X</b></td>
                      <td style='color : white; border-color:white;' class="tg-0pky"><b>Sumbu Y</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style='color : white; border-color:white;' class="tg-0pky">A(2,3)</td>
                      <td style='color : white; border-color:white;' class="tg-0pky">3 satuan</td>
                      <td style='color : white; border-color:white;' class="tg-0pky">2 satuan</td>
                      <td style='color : white; border-color:white;' class="tg-0pky">I</td>
                    </tr>
                    <tr>
                      <td style='color : white; border-color:white;' class="tg-0pky">B(-3,1)</td>
                      <td style='color : white; border-color:white;' class="tg-0pky">1 satuan</td>
                      <td style='color : white; border-color:white;' class="tg-0pky">3 satuan</td>
                      <td style='color : white; border-color:white;' class="tg-0pky">II</td>
                    </tr>
                    <tr>
                      <td style='color : white; border-color:white;' class="tg-0pky">C(-1.5,-2.5)</td>
                      <td style='color : white; border-color:white;' class="tg-0pky">2.5 satuan</td>
                      <td style='color : white; border-color:white;' class="tg-0pky">1.5 satuan</td>
                      <td style='color : white; border-color:white;' class="tg-0pky">III</td>
                    </tr>
                  </tbody>
                  </table>
                <br>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-margin-top" size-md="6" offset-md="3"> 
                    <ion-label style="font-family : Philosopher; font-weight: bold; font-size: 23px; text-align : center;" > B.	Posisi Titik terhadap Titik Asal</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p>
                    Sebelum mengenal posisi titik terhadap titik asal, mari kita ingat kembali cara menentukan titik koordinat pada bidang Kartesius.
                  </p>
                  <P>Simak penjelasan video berikut.</P>
                 
  
                  <iframe width="320" height="240" src="https://www.youtube.com/embed/4au17kUKUs8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <p>
                  Apabila titik O(0,0) dianggap titik asal, maka setiap titik pada bidang koordinat memiliki jarak terhadap titik asal.
                </p>
                <p>Bagaimana posisi sebuah titik terhadap titik asal?</p>
                <p>
                  Perhatikan bidang koordinat Karteisus berikut agar kamu lebih paham.
                </p>

               
                <div style='width : 100vw; height: 100vw; background-size : cover; '>
                  <img src="assets/img/matpostik5.png">
                </div>
                <p style='text-align : center;'>
                  Gb 5. 4 titik di koordinat Kartesius
                </p>

                
                <p>
                  Posisi titik A, B, C, dan D terhadap titik asal (0,0) dapat diperinci menjadi sebagai berikut.
                </p>
                <p>
                  <b>Aturan posisi titik terhadap titik lainnya :</b>
                </p>
                <ol type='1'>
                  <li>Jika terletak di sebelah kanan maka bernilai positif (+)</li>
                  <li>Jika terletak di sebelah kiri maka bernilai negatif (-)</li>
                  <li>Jika terletak di sebelah atas maka bernilai positif (+)</li>
                  <li>Jika terletak di sebelah bawah maka bernilai negatif (-)</li>
                </ol>

                <br>
                <p>
                  1.	Letak titik A (-4, 5) terhadap titik asal (0,0):
                </p>
                <p>
                  a.	Perhatikan titik asal. Titik ini menjadi acuan kita untuk menentukan titik A.
                </p>
                <p>
                  b.	Dari titik asal ada 4 satuan ke kiri. Jadi nilai x = - 4.
                </p>
                <p>
                  c.	Dari titik asal ada 5 satuan ke atas. Jadi nilai y = 5 .
                </p>
                <p>
                  d.	Jadi, koordinat titik A terhadap titik asal (0,0) adalah ( - 4, 5 ). 
                </p>
                <br>

                <p>
                  2.	Letak titik B ( -6, -3 ) terhadap titik asal (0,0):
                </p>
                <p>
                  a.	Perhatikan titik asal. Titik ini menjadi acuan kita untuk menentukan titik B.
                </p>
                <p>
                  b.	Dari titik asal ada 6 satuan ke kiri. Jadi nilai x = - 6.
                </p>
                <p>
                  c.	Dari titik asal ada 3 satuan ke bawah. Jadi nilai y = - 3.
                </p>
                <p>
                  d.	Jadi, koordinat titik B terhadap titik asal (0,0) adalah ( -6, -3 ).
                </p>
                <br>

                <p>
                  3.	Letak titik C (4, 2) terhadap titik asal (0,0)::
                </p>
                <p>
                  a.	Perhatikan titik asal. Titik ini menjadi acuan kita untuk menentukan titik C.
                </p>
                <p>
                  b.	Dari titik asal ada 4 satuan ke kanan. Jadi nilai x = 4.
                </p>
                <p>
                  c.	Dari titik asal ada 2 satuan ke atas . Jadi nilai y = 2.
                </p>
                <p>
                  d.	Jadi, koordinat titik C terhadap titik asal (0,0) adalah (4, 2).
                </p>
                <br>

                <p>
                  4.	Letak titik D ( 3, -6) terhadap titik asal (0,0)::
                </p>
                <p>
                  a.	Perhatikan titik asal. Titik ini menjadi acuan kita untuk menentukan titik D.
                </p>
                <p>
                  b.	Dari titik asal ada 3 satuan ke kanan. Jadi nilai x = 3.
                </p>
                <p>
                  c.	Dari titik asal ada 6 satuan ke bawah. Jadi nilai y = -6.
                </p>
                <p>
                  d.	Jadi, koordinat titik D terhadap titik asal (0,0) adalah (2, -6). 
                </p>
                <br>

                

                <br>

                <p>
                  <b>Contoh soal :</b>>
                </p>
                <p>
                  1.	Tentukan posisi titik-titik berikut terhadap titik asal O(0,0)!
                </p>
                <div style='width : 100vw; height: 80vw; background-size : cover; '>
                  <img src="assets/img/matpostik51.png">
                </div>
                <p>
                  Pembahasan:
                </p>
                <p>
                  Titik E (2,2) terhadap titik asal berjarak 2 satuan ke kanan dan 2 satuan ke atas.
                </p>
                <p>
                  Titik F (-2,1) terhadap titik asal berjarak 2 satuan ke kiri dan 1 satuan ke atas.
                </p>
                <p>
                  Titik G (-3,-2) terhadap titik asal berjarak 3 satuan ke kiri dan 2 satuan ke bawah.
                </p>
                <br>

                <p>
                  2.	Tentukan koordinat dari titik-titik berikut!
                </p>
                <div style='width : 100vw; height: 80vw; background-size : cover; '>
                  <img src="assets/img/matpostik52.png">
                </div>
                <p>
                  Pembahasan:
                </p>
                <p>
                  A ( -6, 5)
                </p>
                <p>
                  B ( 6, 6)
                </p>
                <p>
                  C ( -5, -6)
                </p>
                <p>
                  D ( 3, -4)
                </p>
                <br>
               </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-margin-top" size-md="6" offset-md="3"> 
                    <ion-label style="font-family : Philosopher; font-weight: bold; font-size: 23px; text-align : center;" > C.	Posisi titik terhadap titik acuan </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                <p>
                  Setelah dapat menentukan posisi titik terhadap titik asal (0,0), lalu bagaimana jika titik awalnya bukan dari titik asal ?
                </p>
                <div style='width : 100vw; height: 80vw; background-size : cover; '>
                  <img src="assets/img/matpostik6.png">
                </div>
                <p style='text-align : center;'>
                 Gb 6. Denah Perkemahan
                </p>
                <p>
                  Berdasarkan denah di atas, posisi pos utama, kolam, tenda 4, tenda 3 dan teka teki tersembunyi terhadap pemakaman dapat  ditentukan dengan cara berikut.
                </p>
              
      
                  <ul>
                    <li><p>Posisi pos utama (0,0) terhadap pemakaman (-5,-2) adalah 5 satuan ke kanan dan 2 satuan ke atas.</p>
                    <p>Jadi koordinat titik pos utama terhadap pemakaman adalah (5, 2).</p>
                    </li>
                    <li><p>Posisi kolam (-3,-3) terhadap pemakaman (-5,-2) adalah 2 satuan ke kanan dan 1 satuan ke bawah. </p>
                    <p>Jadi koordinat titik kolam terhadap pemakaman adalah (2, -1).</p></li>
                    
                    <li><p>Posisi tenda 3 (-2,0) terhadap pemakaman (-5,-2) adalah 3 satuan ke kanan dan 2 satuan ke atas. </p>
                    <p>Jadi koordinat titik tenda 3 terhadap pemakaman adalah (3, 2).</p>
                    </li>
                    <li><p>Posisi tenda 4 (0,-2) terhadap pemakaman (-5,-2) adalah 5 satuan ke kanan.</p>
                    <p>Jadi koordinat titik tenda 4 terhadap pemakaman adalah (5, 0).</p></li>
                    <li><p>	Posisi teka-teki tersembunyi (-6,2) terhadap pemakaman (-5,-2) adalah 1 satuan ke kiri dan 4 satuan ke atas.</p>
                    <p>Jadi koordinat titik teka-teki tersembunyi terhadap pemakaman adalah (-1, 4).</p></li>
                  </ul>
                
                  <p>
                    <b>Contoh soal: </b>
                  </p>
                  <p>
                    Tentukan posisi titik A, C, dan D terhadap titik B!
                  </p>
                  <div style='width : 100vw; height: 80vw; background-size : cover; '>
                    <img src="assets/img/matpostik61.png">
                  </div>
                  <p>
                    <u>Pembahasan:</u>
                  </p>
                  <p>
                    Titik A (2, 3) terhadap titik B ( -3, 1) berjarak 5 satuan ke kanan dan 2 satuan ke atas.
                  </p>
                  <p>
                    Titik C (-1.5, -2.5) terhadap titik B ( -3, 1) berjarak 1.5 satuan ke kanan dan 3.5 satuan ke bawah.
                  </p>
                  <p>
                    Titik D (0, 0) terhadap titik B ( -3, 1) berjarak 3 satuan ke kanan dan 1 satuan ke bawah.
                  </p>
                  <br>
                  
              </ion-col>
             
            </ion-row>
          </ion-fab>
        
        </ion-content>
         

  
  
  
</ion-content>
